.nft-container {
  padding: 4px;
  color: white;
  text-align: center;
}

.nft-images {
  border: 1px solid darkcyan;
  aspect-ratio: 1 / 1;
  border-radius: 25% 4%;
  transition: 1s ease;
  -webkit-filter: brightness(100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

.nft-images:hover {
  -webkit-filter: brightness(80%);
}

.nft-communities-image {
  width: 100%;
  border-radius: 25% 4%;
  aspect-ratio: 1 / 1;
}

.check-images {
  position: absolute;
  top: -12px;
  right: 18px;
  font-size: 36px;
}