.custom-btn{ 
  background: url(../img/login_bg.png) 0 0 no-repeat; 
  background-size: 100%; 
  background-position: center; 
  width: 110px; 
  margin-left: 15px; 
  padding: 12px; 
  text-align: center;
  margin-top: 12px;}
  .custom-input{
    border-radius: 50px;
    background-color: transparent;
    color: white;
    margin-top: 12px;
    border: 1px solid white;
    padding-left: 12px;
    padding-right: 12px;
  }
.preloader {
  background-color: #160538;
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
}
.loader, .loader:before, .loader:after {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  }
.loader:before, .loader:after {
  position: absolute;
  opacity: 0;
  border: 4px solid #5356DA;
  animation: pulse 3s infinite ease-out;
  }
.loader:before {
  content:"";
  animation-delay: 0s;
  }
.loader:after {
  content:"";
  animation-delay: 1.5s;
  }


@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(3, 3);
    opacity: 0;
  }
}